.EDULINK {
  display: flex;
  height: 59px;
  left: 1666px;
  position: relative;
  top: 29px;
  width: 231px;
}

.EDULINK .div {
  color: transparent;
  flex: 1;
  font-family: "Anomalia ML DemiBold AAA-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 231px;
}

.EDULINK .text-wrapper {
  color: #000000;
}

.EDULINK .span {
  color: #54f0af;
}
