
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-up {
    animation: fadeUp 0.8s ease both;
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}